body{
}
#logo-box{
    padding-left: 10%;
    width: 40%;
    float:left;
}
#nav-login-box{
    padding-right: 10%;
    width: 40%;
    float:right;
}

#nav-nologin-box{
    padding-right: 10%;
    width: 40%;
    float:right;
}
#nav-nologin-box div{
    display: inline-block;
}
#nav-login-box div{
    display: inline-block;
}

#pic-box{
    padding-left: 10%;
    width: 80%;
}

#form-box{
    padding-left: 10%;
    width: 80%;
}

#form-left-box{
    margin-top: 20px;
    width:65%;
    float:left;
}

#form-right-box{
    margin-top: 20px;
    width:35%;
    float:left;
}

#form-left-line1 input{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    width: 85%
}

#form-left-line1 button{
    margin-top: 10px;
    width: 8%;
    background: #990033;
    color: white;
}

#form-left-line2 input{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 46%
}

#form-right-se1 {
    width:50%;
    float:left
}

#form-right-se2 {
    width:50%;
    float:left
}

#form-right-box button{
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    background: #2828FF;
    color: white;
}
#map_div{
    height:500px;
    width:60%;
    position: fixed;
    top:100px;
    left:20%;
}
#map {
    height: 100%;
    width:100%;
}

